@charset "UTF-8";


@font-face {
    font-family: "Droid";
    src: url(fontes/idroid.otf);
}
body {
    background-color: #7ED9A6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

img {
    width: 100%;
}

.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

p {
    line-height: 25px;
}
header {
    background-image: linear-gradient(to top, #1a5c38, #84e1ad);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
    min-height: 150px;
    padding-bottom: 12px;
}

header > p {
    padding-bottom: 10px;
}
span {
    color: green;
    font-weight: bold;
}

span::after {
    content: " â˜";
    color: darkgray;
}

.menu {
    text-align: left;
    color: white;
}

.menu > a {
    color: white;
    text-decoration: none;
    padding: 12px;
}

.menu > a:hover {
    background-color: #84e1ad;
    color: black;
    border-radius: 10px;
    transition-duration: 1s;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px #1a5c38;
}

.primeiroh1 {
    padding-top: 20px;
}

main > h1 {
    color: green;
    font-family: "Droid";
    text-align: left;
    padding-left: 25px;
    margin: 0px;
}

main > p {
    padding-left: 25px;
    text-align: justify;
    text-indent: 3%;
    padding-right: 25px;
}

main > h2 {
    color: green;
    font-family: "Droid";
    text-align: left;
    padding-left: 25px;
    background-image: linear-gradient(to right, #84e1ac8f, white);
}

.video {
    background-color: #1a5c38;
}

.video > iframe {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
}
.ultima {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    background-color: #c5ebd6;
    border-radius: 10px;
    padding-bottom: 1px;
    box-shadow: 1px 1px 5px lightgray;
}

.ultima > p {
    padding: 2px 10px;
    text-indent: 3%;
    text-align: justify;
    line-height: 25px;
}
.ptitulo {
    text-align: left;
    color: white;
    background-color: #2fa866;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul {
    list-style-position: inside;
    columns: 2;
}
footer {
    color: white;
    text-align: center;
    background-color: #1a5c38;
    height: 25px;
}